<link rel="stylesheet" href="/public/style.css">
<script defer src="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction/main.js"></script>
<script defer src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<h1>Start planning <%= eventName %>!</h1>

<ul>
    <% events.forEach( event => { %>
        <li>
            <%= event.eventName %>
            <a href="/events/edit/<%= event.uniqueUrl %>?calendarDuration=<%= event.calendarDuration %>&eventName=<%= event.eventName %>"> Edit </a>
            <a href="/events/delete/<%= event.uniqueUrl %>?calendarDuration=<%= event.calendarDuration %>&eventName=<%= event.eventName %>"> Delete </a>
        </li>
   <% }) %>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');

        const urlParams = new URLSearchParams(window.location.search);
        const calendarDuration = parseInt(urlParams.get('calendarDuration'));

        const currentDate = new Date();

        let initialView = 'dayGridMonth'

        if (calendarDuration >=3 && calendarDuration <6) {
            initialView = 'dayGridMonth'
        } else if (calendarDuration >= 6 && calendarDuration < 12) {
            initialView = 'dayGridMonth'
        }

        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: initialView,
            height: 'auto',

            validRange: {
                start: currentDate,
                end: new Date(currentDate.getFullYear(), currentDate.getMonth() + calendarDuration + 1)
            }
        })
        calendar.render();
    })
    
</script>

<div id="calendar"></div>



