<link rel="stylesheet" href="/style.css">
<h1>Your Events</h1>


<ul>
    <% userEvents.forEach( event => { %>
        <li>
            <h4><a href="/events/<%= event.uniqueUrl %>?calendarDuration=<%= event.calendarDuration %>&eventName=<%= event.eventName %>"><%= event.eventName%></a></h4>
            <button class="button edit" onclick="location.href='/events/edit/<%= event.uniqueUrl %>'">Edit</button>
            <button class="button delete" onclick=" if (confirm('Are you sure you want to delete this event?')) location.href='/events/delete/<%= event._id %>'">Delete</button>
        </li>
   <% }) %>
</ul>

